body {
    text-align: center;
    background-color: blanchedalmond;
}

#contact iframe {
    width: 100%;
}



input {
    background: grey
}

..Campus Life div {
        {
        border: 1px solid blue;
    }
    #footer{
        height:20px;
        background-color:white
    }